/* CSS for HaoHao-Title */
.icon {
    margin: 8px;
}

.test {
    height: 1000px;
}

.navbar li:hover a {
    background-color: #e96593;
    padding: 100px 0px;
}

.form-control {
    border: 2px solid var(--bs-pink);
    border-radius: 22px;
    padding: 10px 0px;
}
.form-control::placeholder {
    padding-left: 10px;
    color: black;
    opacity: 1;
    font-weight: 600;
}
.form-select {
    border: 2px solid var(--bs-pink);
    border-radius: 22px;
    padding: 10px 0px;
}
/* Phần footer */
footer{
    background-color: rgba(244, 244, 244);
}

.footer-link ul{
    display: flex;
    list-style-type: none;
}
.footer-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    margin-left: 20px;
    font-weight: 600;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
}

