* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
}


/* style.css (tên file cũ trong bootstrap studio) */
.icon {
    margin: 8px;
}

.test {
    height: 1000px;
}

.navbar li:hover a {
    background-color: #e96593;
    padding: 100px 0px;
}


.card-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 24px;
    padding-bottom: 20px;
}

.card-header-span {
    border: solid 1px #e96593;
    border-radius: 16px;
    background-color: #e96593;
    color: #fff;
    padding: 0px 24px;
    font-weight: 600;
}

/* CSS for CARD */
.card-title {
    /* max-height: 50px; */
    font-size: 17px;
    line-height: 1.3;
    font-weight: 600;
    padding: 0px 30px;
}

.card-title a {
    text-decoration: none;
    color: #EF0016;
}

.btn-card {
    padding-top: 10px;
    padding-left: 30px;
}

.btn-xem {
    border: 3px solid #EF0016;
    text-decoration: none;
    color: #EF0016;
    padding: 5px 15px;
    border-radius: 0.5rem;
}

.btn-xem:hover {
    background-color: red;
    color: white;
}

.col .bg-card {
    background-color: rgba(244, 244, 244);
}

.card-text {
    font-size: 15px;
    padding: 0px 30px;
}

.card-img-top {
    transform: scale(1);
    transition: all 0.5s;
}

.card-img-top:hover {
    transform: scale(1.1);
    border-radius: 1rem;
    transform: scale(1.2);
    /* Safari & Google Chrome */
    -webkit-transform: scale(1.2);
    /* Mozilla Firefox */
    -moz-transform: scale(1.2);
    /* Opera */
    -o-transform: scale(1.2);
    /* IE 9 */
    -ms-transform: scale(1.2);
    cursor: pointer;
}

.img-sukien img {
    height: 250px;
    width: 100%;
}

.list-grid {
    margin: 0px 70px;
}


/* Phần footer */
footer {
    background-color: rgba(244, 244, 244);
}

.footer-link ul {
    display: flex;
    list-style-type: none;
}

.footer-link ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    margin-left: 20px;
    font-weight: 600;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
}


/* sửa lại hiệu ứng hover cho card */
/* begin */
.card.h-100.bg-card {
    overflow: hidden;
}

.img-sukien {
    overflow: hidden;
}

/* end */

























/* style slick sync */



/*
   * Slick Theme
   * ************************************************************
   */
/* Slider */
.slick-loading .slick-list {
    background: #fff url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot");
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf") format("truetype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* ************************************************************* */
.js .cSlider--single>div:nth-child(1n+2) {
    display: none;
}

.js .cSlider--single.slick-initialized>div:nth-child(1n+2) {
    display: block;
}

img.slide-sync {
    position: relative;
    font-size: 2.25rem;
    background-color: #f0f0f0;
    color: #3498db;
    text-align: center;
    padding: 2%;
    margin: 0.5rem;
}

.cSlider--single img.slide-sync {
    line-height: 10rem;
}

.cSlider--nav img.slide-sync::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slick-slide.is-active img.slide-sync {
    color: #c00;
    background-color: #fff;
}

.cSlider--nav .slick-slide {
    cursor: pointer;
}

.cSlider--nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img.slide-sync {
    display: inline-block;
}




/* border  */
img.slide-sync.ref {
    border: 5px solid #ee8bae;
}

img.slide-sync.ref.noodle {
    border: none;
}