* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
}


/* style.css (tên file cũ trong bootstrap studio) */
.icon {
    margin: 8px;
}

.test {
    height: 1000px;
}

.navbar li:hover a {
    background-color: #e96593;
    padding: 100px 0px;
}


.card-header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 24px;
    padding-bottom: 20px;
}

.card-header-span {
    border: solid 1px #e96593;
    border-radius: 16px;
    background-color: #e96593;
    color: #fff;
    padding: 0px 24px;
    font-weight: 600;
}

/* CSS for CARD */
.card-title{
    /* max-height: 50px; */
    font-size: 17px;
    line-height: 1.3;
    font-weight: 600;
    padding: 0px 30px;
}
.card-title a{
    text-decoration: none;
    color: #EF0016;
}
.btn-card{
    padding-top: 10px;
    padding-left: 30px;
}
.btn-xem{
    border: 3px solid #EF0016;
    text-decoration: none;
    color: #EF0016;
    padding: 5px 15px;
    border-radius: 0.5rem;
}
.btn-xem:hover{
    background-color: red;
    color: white;
}
.col .bg-card{
    background-color: rgba(244, 244, 244);
}
.card-text{
    font-size: 15px;
    padding: 0px 30px;
}
.card-img-top{
    transform: scale(1);
    transition: all 0.5s;
}
.card-img-top:hover{
    transform: scale(1.1);
    border-radius: 1rem;
}
.img-sukien img{
    height: 250px;
    width: 100%;
}
.list-grid{
    margin: 0px 70px;
}


/* Phần footer */
footer{
    background-color: rgba(244, 244, 244);
}

.footer-link ul{
    display: flex;
    list-style-type: none;
}
.footer-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #444;
    margin-left: 20px;
    font-weight: 600;
    font-family: Nunito Sans, sans-serif;
    font-size: 16px;
}