
/*
   * Slick Theme
   * ************************************************************
   */
/* Slider */
.slick-loading .slick-list {
    background: #fff url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot");
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf") format("truetype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* ************************************************************* */
.js .cSlider--single>div:nth-child(1n+2) {
    display: none;
}

.js .cSlider--single.slick-initialized>div:nth-child(1n+2) {
    display: block;
}

img.slide-sync {
    position: relative;
    font-size: 2.25rem;
    background-color: #f0f0f0;
    color: #3498db;
    text-align: center;
    padding: 2%;
    margin: 0.5rem;
}

.cSlider--single img.slide-sync {
    line-height: 10rem;
}

.cSlider--nav img.slide-sync::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slick-slide.is-active img.slide-sync {
    color: #c00;
    background-color: #fff;
}

.cSlider--nav .slick-slide {
    cursor: pointer;
}

.cSlider--nav span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


img.slide-sync {
    display: inline-block;
}