h1 {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.text-box {
    margin: 20px;
}

.text-box1 {
    margin-left: 46px;
}

.text-box2 {}

.text-box3 {
    margin-left: 32px;
}



.Button-submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Button-submit:hover {
    background-color: #ccc;
}

.container-table {}

.label {
    text-align: center;
    margin-top: 24px;
}