:root {
    --text-color: rgb(40, 39, 41);
    --body-color: rgb(239, 235, 243);
    --btn-color: rgb(198, 184, 212);
    --title-color: #EE8BAE;
    --text-color-active: rgb(255, 255, 255);
}

body {
    background-color: var(--body-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
    padding: 0;
}

#avatar {
    width: 3rem;
    height: 2.9rem;
    border-radius: 1.5rem;
    border: 0.2rem solid white;
    margin: 1rem 0;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    color: var(--text-color);
    margin: 0 5rem 0 0.5rem;
}

li {
    padding: 0.3rem;
}

body {
    color: var(--text-color);
}

.div1 {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-color);
    color: var(--body-color);
}

h4 {
    text-transform: uppercase;
    margin: 0.3rem;
}

.div2 {
    background-color: var(--title-color);
    height: 1.8rem;
}

h5 {
    text-align: center;
}

#dropdownMenuLink {
    color: var(--text-color-row) !important;
}

/* CSS tab link */
.tablinks {
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease;
}

.tablinks.active {
    background: var(--btn-color);
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

/* CSS list-fruid */
.add-fruid,
.add-account {
    border: 1px solid black;
    padding: 1rem;
    /* width: 60vw; */
    width: 600px;
    margin: 2rem auto;
    background-color: rgb(234, 224, 234);
}

.list-fruid,
.list-account {
    margin: 1rem 0;
}

.btn-add {
    border-radius: 0.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1.5px solid black;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

label {
    width: 12vw;
}



/* update t7/18/06/2021 */
/* border cho các bên */
.side-bar {
    border: 1px solid #333;
    height: 100vh;
}

.side-bar-content {
    border: 1px solid #333;
    height: 100vh;
    margin: 0 -12px;
    border-left: none;
}


.btn-add:active {
    background-color: var(--btn-color);
    color: var(--text-color-active);
    box-shadow: 0 0 0.5rem 0.5rem var(--text-color-active);
}